<li>
	{{name}}

	<button class="change-action" data-id="{{id}}" data-newaction="{{action}}">
		{{#if action}}Time to Eat!{{else}}Eaten!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
